{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<style>
  .shop-the-look-container {
    display: flex;
  }
  .shop-the-look-container #shop-the-look-{{ section.id }}-1 {
    position: relative;
  }
  .shop-the-look-container .img-dot {
    width: 14px;
    height: 14px;
    margin: -7px 0 0 -7px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background: #ffffff;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(50, 50, 50, 0.25);
    z-index: 1;
  }
  
  .shop-the-look-container .img-dot.active{
    transform: scale(2);
  }
  .shop-the-look-container .img-dot:hover{
    transform: scale(2);
    box-shadow: 2px 4px 20px rgba(50, 50, 50, 0.25);
    
  }
  
  .shop-the-look-container .slider.slider--desktop .scroll-trigger.animate--slide-in {
    width: 100%;
    max-width: 100%;
  }
</style>
<div class="shop-the-look-container multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
      <ul
        class="multicolumn-list contains-content-container grid grid--2-col-tablet-down grid--2-col-desktop"
        id="shop-the-look-{{ section.id }}"
        role="list"
      >
        <li
          id="shop-the-look-{{ section.id }}-1"
          class="multicolumn-list__item grid__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 1;"
          {% endif %}
        >
          {%- liquid
            assign fetch_priority = 'auto'
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
            assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
            assign sizes = '50vw'
            if section.index == 1
              assign fetch_priority = 'high'
            endif
          %}
          {% if section.settings.image != blank %}
            {{
              section.settings.image
              | image_url: width: 3840
              | image_tag:
                width: section.settings.image.width,
                height: image_height,
                sizes: sizes,
                widths: widths,
                fetchpriority: fetch_priority,
                style: 'max-width:100%;height:auto;'
            }}
          {% endif %}
          {% for block in section.blocks %}
            <span class="img-dot {% if forloop.first %}active{% endif %}" data-index="{{ forloop.index0 }}" style="top:{{ block.settings.top }}%;left:{{ block.settings.left }}%;" onclick="selectSliderItem(this)"></span>
          {% endfor %}
        </li>
        <li
          id="shop-the-look-{{ section.id }}-2"
          class="multicolumn-list__item grid__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 2;"
          {% endif %}
        >
          <div class="slider-container">
            <slider-component class="slider-mobile-gutter slider-component-full-width slider-component-desktop  scroll-trigger animate--slide-in">
              <ul
                id="Slider-{{ section.id }}"
                class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--1-col-desktop grid--1-col-tablet-down slider slider--desktop slider--tablet grid--peek"
                role="list"
                data-autoplay="true"
                aria-label="{{ 'general.slider.name' | t }}"
              >
                {%- for block in section.blocks -%}
                  {% assign product = block.settings.product %}
                  <li
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    class="grid__item slider__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      show_quick_add: section.settings.enable_quick_add,
                      section_id: section.id
                    %}
                  </li>
                {%- endfor -%}
              </ul>
              
              {% comment %} Uncomment this if you also need the slider arrows
              
              <div class="slider-buttons no-js-hidden" style="display: none;">
              <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
              >
              prev
              </button>
              <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
              >
              next
              </button>
              </div> 
              {% endcomment %}
            </slider-component>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const sliderItems = document.querySelectorAll(
        ".shop-the-look-container #shop-the-look-{{ section.id }}-2 .slider__slide"
      );
      const dotPoints = document.querySelectorAll(
        ".shop-the-look-container #shop-the-look-{{ section.id }}-1 .img-dot"
      );
      const mySlider = document.getElementById("Slider-{{ section.id }}").closest('slider-component');
      dotPoints.forEach((element) => {
        mySlider.setSlidePosition(2);
      });
    });
    
    function selectSliderItem(dot) {
      var index = dot.getAttribute("data-index");
      var slider = dot.closest('li').nextElementSibling.querySelector('.product-grid');
      slider.querySelectorAll("li").forEach(function (item, i) {
        if (i == index) {
          var position = item.offsetLeft;
          slider.scrollTo({
            left: position,
            behavior: "smooth",
          });
          document.querySelector(".shop-the-look-container #shop-the-look-{{ section.id }}-1 .img-dot.active").classList.remove('active')
          dot.classList.add('active')
        }
      });
    }
    
  </script>
  {% schema %}
  {
    "name": "Shop the Look",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          },
          {
            "type": "range",
            "id": "top",
            "label": "Position from Top",
            "step": 1,
            "min": 0,
            "max": 100,
            "unit": "%",
            "default": 10
          },
          {
            "type": "range",
            "id": "left",
            "label": "Position from Left",
            "step": 1,
            "min": 0,
            "max": 100,
            "unit": "%",
            "default": 10
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the Look"
      }
    ]
  }
  {% endschema %}